// bulk.config

docker {
    enabled = true
}

params {

    // Default params
    workflow_level = "complete"
    project_name = "my-project_"+ new Date().format("yyyy-MM-dd_HH:mm:ss")
    sample_stats_template = "${projectDir}/notebooks/sample_stats_template.qmd"
    compare_stats_template = "${projectDir}/notebooks/compare_stats_template.qmd"

}