// bulk.config

docker {
    enabled = true
}

params {

    // Sample + compare parameters
    workflow_level = "complete"
    project_name = "tcrtoolkit-bulk_"+ new Date().format("yyyy-MM-dd_HH:mm:ss")
    sample_stats_template = "${projectDir}/notebooks/sample_stats_template.qmd"
    compare_stats_template = "${projectDir}/notebooks/compare_stats_template.qmd"

    // GLIPH2 parameters
    data_folder = "${params.data_dir}"
    gliph2_report_template = "${projectDir}/notebooks/gliph2_report_template.qmd"
    ref_files = "${projectDir}/assets/gliph2_files"

    local_min_pvalue = "0.001"
    p_depth = "1000"
    global_convergence_cutoff = "1"
    simulation_depth = "1000"
    kmer_min_depth = "3"
    local_min_OVE = "10"
    algorithm = "GLIPH2"
    all_aa_interchangeable = "1"

}